.description {
  color: #ffffff;
  font-size: 25px;
}
.failure-img {
  width: 48px;
  height: 48px;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  padding: 25px;
}
.retry-btn {
  background-color: #ffffff;
  color: #171f46;
  border-style: none;
  border-radius: 8px;
  width: 80px;
  height: 30px;
}
