.bg-container {
  background-color: #131313;
  display: flex;
  flex-direction: column;
}
.root-container {
  display: flex;
  flex-direction: column;
}
.backdrop-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
  height: 501px;
}
@media screen and (max-width: 767px) {
  .backdrop-container {
    height: 427px;
  }
}
.movie-details-text {
  color: #ffffff;
  font-size: 18px;
  margin-left: 15px;
}
.time-container {
  display: flex;
  flex-direction: row;
}
.play-btn {
  width: 80px;
  background-color: #ffffff;
  color: #131313;
  height: 30px;
  border-style: none;
  border-radius: 10px;
}
.movie-info-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly;
  align-items: flex-start;
}
.genres-list {
  display: flex;
  flex-direction: column;
}
.genres-heading {
  color: #94a3b8;
  font-weight: 600;
  font-size: 18px;
}
.list-item {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
}
.similar-movies-container {
  padding: 20px;
}
.heading {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
